<%- include("partials/_header") -%>


<body>

  <!-- Navigation --> 
   <%- include("partials/_nav") -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>
              <%= posts.title %>
            </h1>
            
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= posts.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p>  <%= posts.detail %><p>
        
        </div>
      </div>
    </div>
  </article>

  <hr>

  <!-- Footer -->  
  <%- include("partials/_footer") -%>

</body>

</html>
