<%- include("partials/_header") -%>


<body>

  <!-- Navigation --> 
   <%- include("partials/_nav") -%>


  <!-- Page Header -->
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>
              <%= posts.title %>
            </h1>
            
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= posts.dateCreated.toISOString().split('T')[0] %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <p><%= posts.detail %><p>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <div class="pr-3">
          <a href="/posts/edit/<%= posts._id %>">
        <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
      </a>
        </div>
        <div>
          <a href="/posts/<%= posts._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE ?')">
        <button  class="btn btn-danger" id="sendMessageButton">Delete</button>
      </a>
        </div>
      </div>
    </div>
    
  </article>
  

  <hr>

  <!-- Footer -->  
  <%- include("partials/_footer") -%>

</body>

</html>
